@import "tailwindcss";
@theme {
  --animate-blink: blink 1s step-end infinite;
  --animate-neon-pulse: neon-pulse 2s ease-in-out infinite;

  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--color-pink-500);
    }
  }
  @keyframes neon-pulse {
    0%,
    100% {
      filter: drop-shadow(0 0 2px rgba(244, 63, 94, 0.6));
    }
    50% {
      filter: drop-shadow(0 0 8px rgba(244, 63, 94, 1));
    }
  }
}

@theme {
  --animate-typewriter: typewriter 2s steps(13) forwards;
  --animate-blink: blink 1s step-end infinite;

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--color-pink-500);
    }
  }
}
